<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.playtika.ocunityplugin"> <!-- To auto-complete the email text field in the login form with the user's emails -->

    <application>
        <activity
            android:name=".ProxyActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name=".InitProvider"
            android:authorities="${applicationId}.InitProvider"
            android:enabled="true"
            android:exported="false"
            android:initOrder="200" />

        <activity android:name=".WebViewActivity"></activity>
    </application>

</manifest>